[Unit]
Description=Croak daemon

[Service]
ExecStart=/usr/bin/python3 /usr/lib/croak/croak.py
User=daemon
Group=daemon

[Install]
WantedBy=multi-user.target
